* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .page {
  display: flex;
  flex-wrap: wrap;
}
  }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
.logo {
  display: none;
  }
.toppattern{
  display: flex;
  width: auto;
  }
.simone img{
  width: 130px;
  display: flex;
  margin-bottom: 50px;
  }
.nome {
  display: flex;
  margin-left: 60px;
  text-align: center;
  font: italic small-caps bold cursive;
  font-size: 1em;
  }
.ruolo{
  display: flex;
  margin-left: 40px;
  width: 450px;
  text-align: center;
  font: italic normal sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  }
.descrizione{
  margin-left: 20px;
  width: 500px;
  font-size: 10px;
  line-height: 10px;
  width: 300px;
  height: auto;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

  }
}
